Package: drivers-linux-firmware
Version: 20210327-1
Architecture: all
Maintainer: q3aql <q3aql@protonmail.ch>
Installed-Size: 657544
Section: misc
Priority: optional
Multi-Arch: foreign
Depends: bash, cron, anacron, rsync
Description: Firmware for Linux kernel drivers
 This package provides firmware used by Linux kernel drivers.
