Package: drivers-linux-firmware
Version: 20210829-1
Architecture: all
Maintainer: q3aql <q3aql@duck.com>
Installed-Size: 704544
Section: misc
Priority: optional
Multi-Arch: foreign
Depends: bash, cron, anacron, rsync
Description: Firmware for Linux kernel drivers
 This package provides firmware used by Linux kernel drivers.
